<?xml version="1.0"?>
<launch>

    <arg name="bag" />
    <arg name="no_amcl" default="true" />
    <arg name="map_name" default="tb3_house_true" doc="Name of the map yaml file without extension, contained in the assets folder." />
    <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(find dhf_loc)/assets/$(arg map_name).yaml" />

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_description.launch" />

    <group if="$(arg no_amcl)">
        <include file="$(find dhf_loc)/launch/dhf_localization_node.launch" />
    </group>

    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find dhf_loc)/rviz/default.rviz" />

    <node name="rosbag" pkg="rosbag" type="play" output="screen" args="$(find dhf_loc)/assets/bags/$(arg bag).bag " />

</launch>