<?xml version="1.0"?>
<launch>

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" />
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch" />
    <!-- <include file="$(find dhf_loc)/launch/dhf_localization_demo.launch" /> -->

    <node name="rviz" pkg="rviz" type="rviz" />


</launch>