<?xml version="1.0"?>
<launch>
    <arg name="map_name" default="tb3_house_true" doc="Name of the map yaml file without extension, contained in the assets folder." />

    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]" />

    <!-- TurtleBot3 -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model" value="$(arg model)" />
    </include>
    <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(find dhf_loc)/assets/$(arg map_name).yaml" />

    <include file="$(find dhf_loc)/launch/dhf_localization_node.launch" />

    <node name="rosbag" pkg="rosbag" type="play" output="screen" args="--pause $(find dhf_loc)/assets/bags/$(arg bag).bag -q" />

    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find dhf_loc)/rviz/default.rviz" />


</launch>